{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% load static %}
{% block title %}Generate QR Code{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Generate QR Code</b></h4>
    </div>
    <div class="w3-container">
        <form class="w3-col l12 xl6 w3-card w3-padding w3-bar-block" action="." method="get">
            {{ generate_form.non_field_errors }}
            {% for field in generate_form %}
            {% if field.name in "m,t" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field" }}
            </div>
            {% elif field.name in "c" %}
            <div class="w3-bar-item">
                {{ field.errors }}
                <div class="w3-left ims-select-options ims-form-field">
                    {{ field }}
                    <label for="id_c" class="ims-select-options">Include Caption</label>
                </div>
            </div>
            {% else %}
            <div class="w3-bar-item">
                {{ field.errors }}
                {{ field | add_classes:"w3-left ims-select-options ims-form-field ims-hidden" }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="w3-bar-item">
                <a href="javascript:void(0)" onclick="generatecode()" class="w3-button w3-dark-grey ims-form-field">Generate</a>
            </div>
        </form>
    </div>
    <div class="w3-container ims-hidden" id="print_area">
        <div class="w3-col l12 xl6 w3-card w3-padding">
            <div id="print_content">
                <img src="{{ qrimage }}" class="w3-image" />
                <p>{{ caption }}</p>
            </div>
            <div id="print_button">
                <a class="w3-button w3-light-gray w3-padding-large w3-margin-top" onclick="opentoprint()">Print</a>
                <a class="w3-button w3-dark-gray w3-padding-large w3-margin-top" onclick="clearprintarea()">Clear</a>
            </div>
        </div>
    </div>
</div>
<script src="{% static "common/js/jquery.min.js" %}"></script>
<script>
    $("#id_m").change(function () {
        var selectedId = $(this).val();
        $.ajax({
            url: '/scanner/ajax/',
            data: {
                'selected': selectedId
            },
            success: function (data) {
                $("#id_t").html(data);
            }
        });
        if (selectedId == 'partstorage' || selectedId == 'kit') {
            var element = document.getElementById("id_d");
            element.classList.remove('ims-hidden');
            var element = document.getElementById("id_n");
            element.classList.remove('ims-hidden');
	    }
        else {
            var element = document.getElementById("id_d");
            element.classList.add('ims-hidden');
            var element = document.getElementById("id_n");
            element.classList.add('ims-hidden');
        }
    });
    function generatecode() {
        var e = document.getElementById('id_m');
        var model = e.options[e.selectedIndex].value;
        var e = document.getElementById('id_t');
        var target = e.options[e.selectedIndex].value;
        var e = document.getElementById('id_d');
        var direction = e.options[e.selectedIndex].value;
        var num = document.getElementById('id_n').value;
        var caption = $('#id_c').is(":checked");
        $.ajax({
            url: '/scanner/ajax_create/?m='+model+'&t='+target+'&d='+direction+'&n='+num+'&c='+caption,
            type: 'get',
            success: function(data) {
                $("#print_content").html(data);
                document.getElementById("print_area").classList.remove('ims-hidden');
            },
            error: function() {
                clearprintarea();
            }
        });
    }
    function clearprintarea(){
        document.getElementById("print_area").classList.add('ims-hidden');
        document.getElementById("print_content").innerHTML = "";
    }
    function opentoprint() {
        var qrimage = document.getElementById("print_content").innerHTML;
    
        var docprint= window.open('','','toolbar=yes,location=no,directories=yes,menubar=yes,scrollbars=yes,width=415,height=415,left=100,top=25');
        docprint.document.open();
        docprint.document.write('<html><head><title>Print QR Code</title></head><body onLoad="self.print()">');
        docprint.document.write(qrimage);
        docprint.document.write('</body></html>');
        docprint.document.close();
        docprint.focus();
    }
</script>
{% endblock %}
