{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}QR Code{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Scanner Module</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-col l12 xl6 w3-card w3-padding w3-bar-block">
            <div class="w3-bar-item">
                <a class="w3-button ims-form-field" href="/scanner/scan/">Scan</a>
            </div>
            <div class="w3-bar-item">
                <a class="w3-button w3-dark-gray ims-form-field" href="/scanner/create/">Create</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
