{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% block title %}Scan Results{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Scan Results</b></h4>
    </div>
    <div class="w3-container">
        <div class="w3-margin w3-padding">
            <span><em>{{ message }}</em></span><br/>
	    {% if current_count %}
	    <span>The current count is: <b>{{ current_count }}</b></span>
	    {% endif %}
        <div class="w3-margin w3-padding">
            <a class="w3-button ims-form-field" href="/scanner/scan/">Scan Again</a>
        </div>
    </div>
</div>
{% endblock %}
