{% extends "inventory/base.html" %}
{% load get_setting %}
{% load custom_tags %}
{% load static %}
{% block title %}Scan QR Code{% endblock %}
{% block content %}
<div class="w3-container" style="margin-top:65px;">
    <div class="w3-left w3-margin-top">
        <h4><b>Scan QR Code</b></h4>
    </div>
    <div class="w3-container">
        <div>
            <video id="qr-video" class="ims-hidden"></video>
        </div>
    </div>
</div>
<script type="module">
    import QrScanner from "{% static "scanner/js/qr-scanner.min.js" %}";
    QrScanner.WORKER_PATH = "{% static "scanner/js/qr-scanner-worker.min.js" %}";

    const video = document.getElementById('qr-video');
    const camQrResult = document.getElementById('cam-qr-result');

    function setResult(result) {
        scanner.stop();
	scanner.destroy();
	window.location.assign('/scanner/scanned/qrcode=' + result);
    }

    const scanner = new QrScanner(video, result => setResult(result));
    video.parentNode.insertBefore(scanner.$canvas, null);
    scanner.$canvas.style.display = 'block';
    scanner.$canvas.style.maxWidth = "100%";

    scanner.start()

    window.scanner = scanner;

</script>
{% endblock %}
